{% extends "base.html" %}
{% load permission_tags %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/tumas.css' %}">
{% endblock %}

{% block 'dashboard_professor' %}
    <div class="container">
        <div>
            <h1 style="text-align: center; color:#ffffff; font-size: 24pt;">{{turma.nome}}. {{turma.curso}}. {{turma.serie}}. {{turma.periodo}}</h1>
            <div class="head">
                <span class="btn-span" onclick="exibirForm('1')">LISTA NOMINAL</span>
                <span class="btn-span" onclick="exibirForm('2')">DESEMPENHO DA TURMA</span>
            </div>
        </div>
        <br>
        <br>
        <div id="ver-lista-da-turma" class="lista-turma">
            <br>
            <h3>Lista dos alunos</h3>
            <br>
            <div class="container-fluid distanciamento">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome completo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos %}
                            <tr>
                                <td>{{aluno.numero_matricula}}</td>
                                <td>{{aluno.nome}} {{aluno.sobrenome}}</td>
                                <td><a href="{% url 'inserir_notas' aluno.id %}"><span class="btn btn-info">Inserir notas</span></a></td>
                                <td><a href="#"><span class="btn btn-info">Desempenho</span></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="ver-desempenho-da-turma" class="desempenho-turma">
            <br>
            <h3>Desempenho da turma</h3>
        </div>
    </div>

<script src="{% static 'usuarios/javascript/turmas.js' %}"></script>
{% endblock %}
